<div class="container">
    <div class="row mt-n4">
        <div class="col-6 ">
            <a class="left" href="/family">
                <img src="../../assets/images/familyexample.jpeg" alt="">
                <p>Family</p>
            </a>
        </div>
        <div class="col-6">
            <a href="/portrait">
                <img src="../../assets/images/portraitexample.jpeg" alt="">
                <p>Portrait</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a class="left" href="/engagement">
                <img src="../../assets/images/engagementexample.jpeg" alt="">
                <p>Engagement</p>
            </a>
        </div>
        <div class="col-6">
            <a href="/wedding">
                <img src="../../assets/images/weddingexample.jpeg" alt="">
                <p>Wedding</p>
            </a>
        </div>
    </div>
</div>
