<nav>
    <div class="d-flex justify-content-between align-items-center mx-3 mr-3">
        <div class="d-flex">
            <a class="mx-3" href="/portfolio">Portfolio</a>
            <a class="mx-3" href="/about">About</a>
            <a class="mx-3" href="/contact">Contact</a>
        </div>
        <a class="pinell" href="/home">Pinell Photography</a>
        <div class="d-flex">
            <a class="mx-3" href="/facebook">Facebook</a>
            <a class="mx-3" href="/admin">Other</a>
            <a class="mx-3" href="/admin">Admin</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>